---
layout: archive
title: "📎 Publications"
title_tag: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}
{% assign toc_labels = "" | split: "," %}
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign in_category = sorted_publications | where: "category", category[0] %}
    {% if in_category.size > 0 %}
      {% assign one_label = category[1].title | split: "|" %}
      {% assign toc_labels = toc_labels | concat: one_label %}
    {% endif %}
  {% endfor %}
{% endif %}
{% assign collaborators_label = "Collaborators" | split: "|" %}
{% assign toc_labels = toc_labels | concat: collaborators_label %}
{% include page-toc.html labels=toc_labels %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<!-- New style rendering if publication categories are defined -->
<div class="pub-list">
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in sorted_publications %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2 id="{{ category[1].title | slugify }}">{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% include publication-item.html post=post %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in sorted_publications %}
    {% include publication-item.html post=post %}
  {% endfor %}
{% endif %}
</div>

<h2 id="collaborators">Collaborators</h2>

<ul class="collaborator-list">
  {% assign sorted_collaborators = site.data.collaborators | sort: "sort_key" %}
  {% for person in sorted_collaborators %}
    <li><a href="{{ person.url }}" target="_blank" rel="noopener noreferrer">{{ person.name }}</a></li>
  {% endfor %}
</ul>