---
layout: archive
permalink: /tags/
title: "🔖 Publications by Tags"
title_tag: "Publications by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.publications field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ base_path }}{{ post.url }}">{{ post.title | markdownify | strip_html | strip_newlines }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}